@import "https://fonts.googleapis.com/css2?family=JetBrains+Sans:wght@400;500;700&display=swap";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@theme {
  --font-jetbrains: "JetBrains Sans", sans-serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}
@layer utilities {
  .animate-typewriter {
    animation: typewriter 3s steps(30, end), blink 0.75s step-end infinite;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: #a3e635;
    }
  }
}
