@import "https://fonts.googleapis.com/css2?family=JetBrains+Sans:wght@400;500;700&display=swap";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@theme {
  --font-jetbrains: "JetBrains Sans", sans-serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}
